<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.twitter.join.JoinDTO" alias="JoinDTO"/>
		<typeAlias type="com.twitter.login.LoginDTO" alias="loginDTO"/>
		<typeAlias type="com.twitter.main.MainDTO" alias="MainDTO"/>
	</typeAliases>
</configuration>