@charset "UTF-8";
.img{
	margin: 15px;
	
	padding-left: 15px;
}
.posting{
	width: 80px;
	height: 80px;
	margin: 8px;
	
}
.post{
   
   border: none;
   
   
}


.date{
	text-align: right;
	
}



.box{
    padding: 0.5em; 
    margin: 15px;  
    border-top: 1px solid #c1bcba;
   border-down: 1px solid #c1bcba;
  
}

.home{
font: small-caps bold 24px/1 sans-serif;
}

.logo{
	float: left;
	margin-left: 10px;
	
}